body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.custom-card-title {
    text-transform: uppercase;
    font-size: 11px;
}

.custom-card-body {
    font-size: 34px;
}

h3 {
    letter-spacing: .5px;
}

#calculator,
#latest-rates,
#historical-rate {
    margin: 80px auto;
}
